body {
  font-family: "Lato", Helvetica, Arial, sans-serif; }

.navbar-brand img {
  max-width: 150px; }
  .navbar-brand img:hover {
    opacity: .8; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff; }
  .navbar-dark .navbar-nav .nav-link:hover {
    opacity: .8; }

.login-btn {
  margin-right: 15px; }

@media (max-width: 992px) {
  .navbar-collapse {
    background: #333;
    margin-left: -20px;
    margin-right: -20px;
    padding: 0px 20px;
    margin-top: 10px; } }
.container-fluid {
  max-width: 1400px; }

.site-content {
  min-height: 100vh; }

.btn-primary {
  background-color: #7031D3;
  border: solid 3px #fff; }
  .btn-primary:hover {
    background-color: #8953DC;
    border: solid 3px #fff;
    cursor: pointer; }

.btn-info {
  background-color: #2990CD;
  border: solid 3px #fff; }
  .btn-info:hover {
    background-color: #097EC4;
    border: solid 3px #fff;
    cursor: pointer; }

.navbar-color {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); }

.video-header {
  padding: 25px 0 20px 0;
  font-size: 24px; }

.video-menu h4 {
  font-size: 15px;
  font-weight: 900; }

.mobile-radios {
  padding: 0 0 0 15px; }
  .mobile-radios .btn {
    margin-bottom: 15px; }

.video-thumbnail {
  padding-bottom: 15px; }
  .video-thumbnail img {
    width: 100%; }
    .video-thumbnail img:hover {
      opacity: .8;
      cursor: pointer; }
  .video-thumbnail h4 {
    font-size: 15px;
    margin: 5px 0 0 0; }
    .video-thumbnail h4:hover {
      opacity: .8;
      cursor: pointer; }
  .video-thumbnail p {
    margin: 0;
    font-size: 13px;
    color: #546978; }
    .video-thumbnail p:hover {
      opacity: .8;
      cursor: pointer; }
    .video-thumbnail p img {
      border-radius: 200px;
      width: 15px;
      margin-top: -2px; }

.modal-dialog {
  width: 100%;
  max-width: 1000px;
  height: auto;
  padding: 15px; }

.modal-content {
  height: auto;
  min-height: 100%; }

.footer-content {
  background-color: #f6f9fc;
  border-top: 2px solid #ecf1f5;
  border-bottom: 2px solid #ecf1f5;
  padding: 45px 0 30px 0;
  color: #8898aa; }
  .footer-content h4 {
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 13px; }
  .footer-content ul {
    list-style-type: none;
    font-size: 14px;
    padding: 0; }
    .footer-content ul a {
      text-decoration: none;
      color: #8898aa; }
      .footer-content ul a:hover {
        color: #7031d3; }

.footer-bottom {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  color: #8898aa;
  font-size: 12px; }
  .footer-bottom a {
    text-decoration: none;
    color: #8898aa; }
    .footer-bottom a:hover {
      color: #7031d3; }

.home-bg {
  background: linear-gradient(0deg, #5230a8, #6d0a91 72%, #8212aa);
  padding: 32px 20px;
  color: #fff;
  position: relative;
  overflow: hidden; }
  .home-bg .home-main-text:before {
    content: "";
    position: absolute;
    background-size: contain;
    width: 551px;
    height: 619px;
    top: 20px;
    left: -370px; }
  @media screen and (max-width: 767px) {
    .home-bg .home-main-text {
      margin: 0 auto 50px;
      max-width: 480px; } }
  .home-bg .home-main-text .home-main-heading {
    font-size: 60px;
    font-weight: 700;
    line-height: 0.83;
    position: relative;
    margin: 0 0 56px;
    max-width: 440px;
    letter-spacing: 2px; }
    @media screen and (max-width: 767px) {
      .home-bg .home-main-text .home-main-heading {
        font-size: 40px; } }
    .home-bg .home-main-text .home-main-heading small {
      font-size: 0.46em;
      font-weight: 400;
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: 0.5em; }

.alert {
  text-align: center;
  position: sticky;
  top: 0px;
  font-size: 18px;
  margin-bottom: 0;
  z-index: 1; }

.login-bg {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  height: 100vh !important;
  padding-top: 15vh;
  height: 3px; }
  .login-bg h2 {
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px; }

.login-card {
  max-width: 500px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  border: 2px solid linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); }

.login-links {
  text-align: center;
  margin-top: 30px; }
  .login-links a {
    text-decoration: none;
    color: #fff;
    margin-right: 15px; }
    .login-links a:hover {
      color: #7031d3; }

.my-account-bg {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  padding-top: 15px;
  min-height: 100vh; }

.well {
  margin: 20px 0;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07); }
  .well h3 {
    color: #32325d;
    font-size: 16px;
    margin: 0;
    padding: 0; }
  .well .header {
    padding: 20px;
    border-bottom: 1px solid #e6ebf1;
    position: relative; }
    .well .header button {
      font-size: 14px;
      padding: 5px 18px;
      position: absolute;
      right: 15px;
      top: 14px; }
  .well .body {
    padding: 20px;
    border-bottom: 1px solid #e6ebf1; }
    .well .body .form-group {
      margin-bottom: 15px; }
  .well .footer {
    padding: 20px; }

.about-bg {
  background: linear-gradient(180deg, #6686dd, #5230a8 760px);
  text-align: center;
  color: #fff;
  padding: 0; }
  .about-bg h1 {
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 30px; }
  .about-bg p {
    max-width: 600px;
    margin: 1em auto;
    text-align: justify; }
  .about-bg body {
    letter-spacing: .5px;
    font-family: Montserrat, sans-serif; }
  .about-bg .page-heading {
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 4px;
    line-height: 1.2;
    margin: 0;
    padding: 60px 8px 72px;
    text-align: center;
    text-transform: uppercase;
    position: relative; }
    @media screen and (max-width: 767px) {
      .about-bg .page-heading {
        font-size: 30px;
        letter-spacing: 1px;
        padding: 50px 8px 62px; } }
  .about-bg .page-heading:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
    width: 84px;
    height: 2px;
    background: #fff; }
  .about-bg .about-info-wrap {
    padding: 0 0 40px; }
  .about-bg .logo-img {
    margin: auto;
    vertical-align: middle;
    margin-top: auto; }
  .about-bg .about-headline {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 300; }
  .about-bg .team-column {
    min-height: 715px; }
  .about-bg .about-column-inner {
    padding: 20px;
    background-color: #f1f1fa; }
  .about-bg .about-profile-img {
    max-width: 100%;
    width: 100%; }
  .about-bg .team-name {
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
    color: #5230a8;
    margin: 0; }
  .about-bg .team-position {
    font-size: 16px;
    font-weight: 300;
    margin-top: .5em;
    line-height: 1.2;
    color: #5230a8; }
  .about-bg .team-position:after {
    content: "";
    background: #5230a8;
    width: 40px;
    height: 2px;
    margin: 0.75em auto .5em;
    transform: translateX(-50%);
    left: 50%;
    display: block;
    position: absolute; }
  .about-bg .team-bio {
    font-size: 14px;
    line-height: 1.5;
    color: #3f495c;
    font-weight: 300;
    margin: 2em 0;
    text-align: left; }
  .about-bg .company-numbers {
    padding: 0 0 60px; }
    .about-bg .company-numbers .company-numbers-left {
      letter-spacing: 1px;
      font-size: 40px;
      line-height: 1.2;
      font-weight: 500;
      min-width: 150px;
      text-align: right;
      margin-right: 16px; }
    .about-bg .company-numbers .company-numbers-right {
      display: inline-block;
      max-width: 225px;
      font-size: 16px;
      line-height: 1.15;
      font-weight: 400; }
    .about-bg .company-numbers .numbers-wrap {
      max-width: 80%;
      display: inline-block; }
    .about-bg .company-numbers .company-numbers-separator {
      display: block;
      width: 90px;
      margin: 10px 0 10px 167px;
      height: 1px;
      background: #b4b4f9; }
      @media screen and (max-width: 440px) {
        .about-bg .company-numbers .company-numbers-separator {
          margin: 10px auto; } }
      @media screen and (min-width: 768px) {
        .about-bg .company-numbers .company-numbers-separator {
          height: 80px;
          width: 1px;
          margin: 0;
          display: inline-block; } }
    @media screen and (max-width: 440px) {
      .about-bg .company-numbers .company-numbers {
        text-align: center;
        color: #fff; }
      .about-bg .company-numbers .company-numbers-right {
        max-width: 100%; } }
  .about-bg .contact-wrap {
    margin-bottom: 60px; }
    .about-bg .contact-wrap .button {
      background: #54ffc1;
      border: 2px solid #53aab7;
      color: #211266;
      cursor: pointer;
      font-size: 1em;
      letter-spacing: 2px;
      padding: 0.375em 1em .3125em;
      text-transform: uppercase;
      font-weight: 500;
      text-decoration: none;
      line-height: 1.625; }
    .about-bg .contact-wrap .button:hover {
      background: #211266;
      color: #fff; }
    .about-bg .contact-wrap .button-arrow:after {
      text-align: center;
      content: "\E5CC";
      font-size: 1.625em;
      width: 1em;
      margin-right: -.25em; }
  .about-bg .we-support {
    background: #fff; }
    .about-bg .we-support .we-support-box {
      max-width: 80%;
      margin: auto; }
      @media screen and (max-width: 767px) {
        .about-bg .we-support .we-support-box {
          margin-bottom: 30px;
          border-bottom: 1px solid #aab3cb;
          padding-bottom: 30px; } }
      @media screen and (min-width: 768px) {
        .about-bg .we-support .we-support-box {
          height: 200px; } }
      @media screen and (min-width: 992px) {
        .about-bg .we-support .we-support-box {
          border-right: 1px solid #aab3cb; } }
    .about-bg .we-support .support-bottom {
      border-bottom: none;
      border-right: none; }
    @media screen and (min-width: 768px) {
      .about-bg .we-support .support-left {
        border-right: 1px solid #aab3cb; } }
    .about-bg .we-support .we-support-title {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.48;
      text-align: center;
      color: #3c2091;
      margin: 0 0 30px;
      padding-top: 20px; }
    @media screen and (max-width: 992px) {
      .about-bg .we-support {
        min-height: 469px; } }
    @media screen and (max-width: 1199px) {
      .about-bg .we-support {
        width: auto; } }
    @media screen and (max-width: 992px) {
      .about-bg .we-support {
        max-width: 1100px; } }
    @media screen and (max-width: 767px) {
      .about-bg .we-support {
        max-width: 420px;
        margin: 0 auto; } }
    .about-bg .we-support .we-support-text {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.97;
      color: #3c2091;
      text-align: center;
      margin-top: 25px; }
    .about-bg .we-support .support-img {
      margin: auto;
      max-width: 70%; }
    @media screen and (min-width: 768px) {
      .about-bg .we-support .support-img-resize {
        margin-top: 40px;
        margin-bottom: 34px; } }
    @media screen and (min-width: 992px) {
      .about-bg .we-support .support-img-resize {
        margin-top: 60px;
        margin-bottom: 34px; } }
    .about-bg .we-support .read-more {
      display: block;
      opacity: 0.6;
      color: #05b27f;
      text-decoration: underline;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.97;
      vertical-align: bottom; }
    .about-bg .we-support .read-more:hover {
      color: #05b27f;
      cursor: pointer; }
  .about-bg .icon-row {
    padding: 15px 0 5px 0;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    text-align: left;
    max-width: 1200px;
    margin: auto;
    margin-top: 30px; }
    .about-bg .icon-row .icon {
      background: #f9f9f9;
      border-radius: 12px;
      padding: 20px;
      width: 60px;
      height: 60px;
      display: inline-block;
      margin-right: 10px;
      box-shadow: inset 0px 0px 42px -12px rgba(255, 255, 255, 0.75);
      box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.75);
      margin-bottom: 10px; }
      .about-bg .icon-row .icon img {
        margin-left: -5px;
        margin-top: -7px; }
    .about-bg .icon-row h3 {
      color: #fff;
      font-size: 16px;
      margin: 0;
      text-align: left;
      display: inline-block;
      padding: 0; }
    .about-bg .icon-row p {
      color: #333;
      font-weight: bold;
      margin-bottom: 0;
      text-align: left;
      display: block;
      padding: 0;
      line-height: 15px; }

.about-container {
  max-width: 1200px;
  padding: 100px 15px; }
  .about-container h1 {
    color: #3a47d5; }
  .about-container img {
    width: 100%; }

.contact-bg {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  padding: 100px 0;
  min-height: 500px;
  position: relative;
  overflow: hidden; }
  .contact-bg h1 {
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 50px; }
  .contact-bg p {
    color: #333;
    font-size: 17px;
    margin-top: 30px; }
  .contact-bg img {
    opacity: 0.1;
    position: absolute;
    top: -200px;
    right: -170px; }
  .contact-bg .contact-container {
    max-width: 1000px;
    margin: auto; }

.contact-card {
  max-width: 1000px;
  margin: -100px auto 100px auto;
  box-shadow: 0px 0px 32px -4px #333333; }
  .contact-card h3 {
    font-size: 20px; }
    .contact-card h3 img {
      width: 50px; }
  .contact-card .left {
    background: #f2f2f2;
    padding: 40px; }
    .contact-card .left img {
      max-width: 100%; }
  .contact-card .right {
    background: #18407c;
    padding: 40px;
    color: #fff; }
    .contact-card .right p {
      padding: 0;
      margin: 0; }
    .contact-card .right h3 {
      margin-bottom: 20px; }

.faq-bg {
  height: 500px;
  position: absolute;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  margin: -20px 0 0 0;
  padding: 0;
  width: 100%;
  z-index: 0; }

.faq {
  z-index: 1;
  position: relative;
  max-width: 1200px; }
  .faq p {
    padding: 30px 0 10px 0; }
  .faq h1 {
    margin: 20px 0;
    font-size: 30px;
    color: #fff; }
  .faq .btn {
    margin: 0; }

.signup-bg {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  padding: 100px 0; }
  .signup-bg h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 50px; }
  .signup-bg .card {
    margin: 20px 0;
    box-shadow: 0px 0px 32px -4px #333333;
    border-radius: 0; }
    .signup-bg .card p {
      margin-top: 15px; }
  .signup-bg .label-width {
    width: 100%; }
  .signup-bg .right {
    background: #fff;
    box-shadow: 0px 0px 32px -4px #333333;
    padding: 40px 40px 60px 40px; }
    .signup-bg .right img {
      width: 150px; }
  .signup-bg .signup-button {
    margin-top: -36px;
    margin-right: 25%; }
    .signup-bg .signup-button .btn-signup {
      padding: 20px;
      border: 0;
      border-radius: 0;
      font-size: 20px;
      min-width: 250px; }
    .signup-bg .signup-button p {
      margin-top: 15px; }
    .signup-bg .signup-button a {
      color: #fff; }

/*# sourceMappingURL=custom.css.map */
