.about-bg {
    background: linear-gradient(180deg,#6686dd,#5230a8 760px);
    text-align: center;
    color: #fff;
    padding: 0;
    h1 {
        text-transform: uppercase;
        font-size: 60px;
        margin-bottom: 30px;
    }
    p {
        max-width: 600px;
        margin: 1em auto;
        text-align: justify;
    }
    body {
      letter-spacing: .5px;
      font-family: Montserrat, sans-serif;
    }
    .page-heading {
      color: #fff;
      font-size: 36px;
      font-weight: 500;
      letter-spacing: 4px;
      line-height: 1.2;
      margin: 0;
      padding: 60px 8px 72px;
      text-align: center;
      text-transform: uppercase;
      position: relative;

      @media screen and (max-width: 767px) {
        font-size: 30px;
        letter-spacing: 1px;
        padding: 50px 8px 62px;
      }
    }
    .page-heading:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 22px;
      left: 50%;
      transform: translateX(-50%);
      width: 84px;
      height: 2px;
      background: #fff;
    }
    .about-info-wrap {
      padding: 0 0 40px;
    }
    .logo-img {
      margin: auto;
      vertical-align: middle;
      margin-top: auto;
    }
    .about-headline {
      font-size: 30px;
      line-height: 1.2;
      font-weight: 300;
    }
    .team-column {
      min-height: 715px;
    }
    .about-column-inner {
      padding: 20px;
      background-color: #f1f1fa;
    }
    .about-profile-img {
      max-width: 100%;
      width: 100%;
    }
    .team-name {
      line-height: 1.2;
      font-size: 20px;
      font-weight: 500;
      color: #5230a8;
      margin: 0;
    }
    .team-position {
      font-size: 16px;
      font-weight: 300;
      margin-top: .5em;
      line-height: 1.2;
      color: #5230a8;
    }
    .team-position:after {
      content: "";
      background: #5230a8;
      width: 40px;
      height: 2px;
      margin: 0.75em auto .5em;
      transform: translateX(-50%);
      left: 50%;
      display: block;
      position: absolute;

    }
    .team-bio {
      font-size: 14px;
      line-height: 1.5;
      color: #3f495c;
      font-weight: 300;
      margin: 2em 0;
      text-align: left;
    }
    .company-numbers {
      padding: 0 0 60px;
      .company-numbers-left {
        letter-spacing: 1px;
        font-size: 40px;
        line-height: 1.2;
        font-weight: 500;
        min-width: 150px;
        text-align: right;
        margin-right: 16px;
      }
      .company-numbers-right {
        display: inline-block;
        max-width: 225px;
        font-size: 16px;
        line-height: 1.15;
        font-weight: 400;
        @media screen and (max-width: 767px) {
        }
      }
      .numbers-wrap {
        max-width: 80%;
        display: inline-block;
      }
      .company-numbers-separator {
        display: block;
        width: 90px;
        margin: 10px 0 10px 167px;
        height: 1px;
        background: #b4b4f9;
        @media screen and (max-width: 440px) {
          margin: 10px auto;
        }
        @media screen and (min-width: 768px) {
          height: 80px;
          width: 1px;
          margin: 0;
          display: inline-block
        }
      }
      @media screen and (max-width: 440px) {
        .company-numbers {
          text-align: center;
          color: #fff;
        }
        .company-numbers-right {
          max-width: 100%;
        }
      }
    }
    .contact-wrap {
      margin-bottom: 60px;
      .button {
        background: #54ffc1;
        border: 2px solid #53aab7;
        color: #211266;
        cursor: pointer;
        font-size: 1em;
        letter-spacing: 2px;
        padding: 0.375em 1em .3125em;
        text-transform: uppercase;
        font-weight: 500;
        text-decoration: none;
        line-height: 1.625;
      }
      .button:hover{
        background: #211266;
        color: #fff;
      }
      .button-arrow:after {
        text-align: center;
        content: "\E5CC";
        font-size: 1.625em;
        width: 1em;
        margin-right: -.25em;
      }
    }
    .we-support {
      background: #fff;
      .we-support-box {
        max-width: 80%;
        margin: auto;
        @media screen and (max-width: 767px) {
          margin-bottom: 30px;
          border-bottom: 1px solid #aab3cb;
          padding-bottom: 30px;
        }
        @media screen and (min-width: 768px) {
          height: 200px;
        }
        @media screen and (min-width: 992px) {
          border-right: 1px solid #aab3cb;
        }
      }
      .support-bottom {
        border-bottom: none;
        border-right: none;
      }
      .support-left {
        @media screen and (min-width: 768px) {
          border-right: 1px solid #aab3cb;
        }
      }
      .we-support-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.48;
        text-align: center;
        color: #3c2091;
        margin: 0 0 30px;
        padding-top: 20px;
      }
      @media screen and (max-width: 992px) {
        min-height: 469px;
      }
      @media screen and (max-width: 1199px) {
        width: auto;
      }
      @media screen and (max-width: 992px) {
        max-width: 1100px;
      }
      @media screen and (max-width: 767px) {
        max-width: 420px;
        margin: 0 auto;
      }
      .we-support-text {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.97;
        color: #3c2091;
        text-align: center;
        margin-top: 25px;
      }
      .support-img {
        margin: auto;
        max-width: 70%;
      }
      .support-img-resize {
        @media screen and (min-width: 768px) {
          margin-top: 40px;
          margin-bottom: 34px;
        }
        @media screen and (min-width: 992px) {
          margin-top: 60px;
          margin-bottom: 34px;
        }
      }
      .read-more {
        display: block;
        opacity: 0.6;
        color: #05b27f;
        text-decoration: underline;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.97;
        vertical-align: bottom;
      }
      .read-more:hover {
        color: #05b27f;
        cursor: pointer;
      }
    }
    .icon-row {
        padding: 15px 0 5px 0;
        background: rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        text-align: left;
        max-width: 1200px;
        margin: auto;
        margin-top: 30px;
        .icon {
            background: #f9f9f9;
            border-radius: 12px;
            padding: 20px;
            width: 60px;
            height: 60px;
            display: inline-block;
            margin-right: 10px;
            box-shadow: inset 0px 0px 42px -12px rgba(255, 255, 255, 0.75);
            box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.75);
            margin-bottom: 10px;
            img {
                margin-left: -5px;
                margin-top: -7px;
            }
        }
        h3 {
            color: #fff;
            font-size: 16px;
            margin: 0;
            text-align: left;
            display: inline-block;
            padding: 0;
        }
        p {
            color: #333;
            font-weight: bold;
            margin-bottom: 0;
            text-align: left;
            display: block;
            padding: 0;
            line-height: 15px;
        }
    }
}

.about-container {
    max-width: 1200px;
    padding: 100px 15px;
    h1 {
        color: #3a47d5;
    }
    img {
        width: 100%;
    }
}
