.home-bg {
    background: linear-gradient(0deg,#5230a8,#6d0a91 72%,#8212aa);
    padding: 32px 20px;
    color: #fff;
    position: relative;
    overflow: hidden;

    .home-main-text:before {
      content: "";
      position: absolute;
      background-size: contain;
      width: 551px;
      height: 619px;
      top: 20px;
      left: -370px;
    }
    .home-main-text {
      @media screen and (max-width: 767px) {
        margin: 0 auto 50px;
        max-width: 480px;
      }
      .home-main-heading {
        font-size: 60px;
        font-weight: 700;
        line-height: 0.83;
        position: relative;
        margin: 0 0 56px;
        max-width: 440px;
        letter-spacing: 2px;

        @media screen and (max-width: 767px) {
          font-size: 40px;
        }

        small {
          font-size: 0.46em;
          font-weight: 400;
          text-transform: uppercase;
          display: inline-block;
          margin-bottom: 0.5em;
        }
      }
    }
  }
